:root {
    --c1-color: #C7CACC;
    --c2-color: #202d31;
    --c3-color: #F1CB24;
}

* {
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: var(--c2-color);
}

.header {
    width: 100vw;
    height: auto;
    position: relative;
    border-bottom: var(--c3-color) solid 10px;
}

.header_pic {
    width: 100%;
    background-size: cover;
}

.header_title {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--c1-color);
    font-size: 500%;
    text-align: center;
}

.content_container {
    display: flex;
    max-width: 900px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.content_container img {
    max-width: 100%;
}

.content_container h1 {
    font-style: oblique;
    max-width: 100%;
    background-color: var(--c1-color);
    color: var(--c2-color);
    padding: 1% 1% 1% 5%;
    border-bottom: var(--c2-color) solid 5px;
    border-top: var(--c2-color) solid 5px;
}

.content_container p {
    max-width: 100%;
    font-size: 140%;
    background-color: var(--c1-color);
    color: var(--c2-color);
    padding: 3% 5% 3% 5%;
    text-indent: 5%;
}

.footer {
    width: 100vw;
    height: auto;
    border-top: var(--c3-color) solid 10px;
}
.footer_tiles {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.portfolio_tile {
    color: transparent;
    width: 50%;
    margin: 1%;
    background-image: url("../img/trail_building_washington/moss_remove.jpg");
    background-size: cover;
    box-shadow: 7px 7px var(--c3-color);
}

.portfolio_tile div {
    background-color: transparent;
    border: transparent;
    width: 93%;
    height: 100%;
    padding: 4%;
    margin: 2%;
    transition: .4s linear;
}

.portfolio_tile div:hover {
    color: var(--c2-color);
    background-color: var(--c3-color);
}

.portfolio_tile div h4 {
    padding: 2% 2% 3% 2%;
    font-size: 220%;
    border-bottom: transparent solid 5px;
}

.portfolio_tile div:hover h4 {
    border-bottom: var(--c2-color) solid 5px;
} 

.portfolio_tile div h3 {
    font-size: 80%;
    padding: 5% 2% 2% 2%;
}

@media screen and (max-width: 700px) {

    .footer_tiles {
        flex-direction: column;
        height: auto;
    }

    .portfolio_tile {
        width: 100%;
        height: 30vh;
        margin: 2% 0% 2% 0%;
    }
    
    .content_container {
        margin: 0% 2% 0% 2%;
    }
}