* {
    margin: 0;
    padding: 0;
}
.blog_post_body * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

.intro_grid {
    width: 100vw;
    height: 70vh;
    display: grid;
    padding: .5%;
    grid-template-columns: 1fr 1fr .5fr .5fr;
    grid-template-rows: .3fr 1fr .1fr;
    box-sizing: border-box;
}

.blog_not_intro p {
    padding: 1% 5% 5% 5%;
    text-indent: 5%;
    text-align: left;
}

.blog_not_intro h1 {
    font-style: oblique;
    font-size: 40px;
    padding-left: 10%;
    border-bottom: black solid 10px;
}

.blog_item.picture {
    height: 100%;
    box-shadow: 2px 2px;
    background-size: cover;
    box-shadow: -10px 0px 10px #000000;
}

.blog_item.picture.p3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.blog_item.title {
    border-bottom: rgb(184, 211, 35) solid 15px;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 90px;
    padding-left: 2%;
    padding-top: 4%;
    margin-bottom: 10px;
}

.blog_item.status {
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
    padding-top: 15%;
}

.blog_item.problem {
    grid-column-start: 1;
    grid-column-end: 5;
}

.blog_item.solution {
    grid-column-start: 1;
    grid-column-end: 5;
}

.one_picture_grid {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.one_picture {
    max-width: 100%;
}

.two_picture_grid {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.two_picture {
    max-width: 100%;
}

@media only screen and (max-width: 550px) {
    .intro_grid {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .2fr repeat(3, 200px);
    }
    .blog_item.status {
        padding: 0;
    }

    .blog_item.picture {
        box-shadow: 0px -10px 10px #000000;
    }
    .blog_item.picture.p3 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.title {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.status {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.problem {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.solution {
        grid-column-start: 1;
        grid-column-end: 1;
    }

}