* {
    margin: 0;
    padding: 0;
}
.blog_post_body * {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #a4b4b0;
}

.intro_grid {
    width: 100vw;
    height: 70vh;
    display: grid;
    grid-gap: 1%;
    padding: .5%;
    grid-template-columns: 1fr 1fr .5fr .5fr;
    grid-template-rows: .3fr 1fr .1fr;
    box-sizing: border-box;
}

.blog_post_body h1 {
    padding-left: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 40px;
    border-bottom: 5px solid #000000;
    background-color: #b9c2c0;
}

.blog_not_intro p {
    padding: 1%;
    padding-bottom: 5%;
    text-align: center;
}

.blog_item.picture {
    height: 100%;
    box-shadow: 2px 2px;
    background-size: cover;
}

.blog_item.picture.p3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.blog_item.title {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 50px;
    padding-left: 2%;
    padding-top: 4%;
    margin-bottom: 10px;
    background-color: #b9c2c0;
}

.blog_item.status {
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
    padding-top: 15%;
}

.blog_item.problem {
    grid-column-start: 1;
    grid-column-end: 5;
}

.blog_item.solution {
    grid-column-start: 1;
    grid-column-end: 5;
}

.one_picture_grid {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
}

.one_picture {
    max-width: 100%;
}

.two_picture_grid {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.two_picture_text {
    grid-column-start: 1;
    grid-column-end: 3;
}

.two_picture {
    max-width: 100%;
}

@media only screen and (max-width: 550px) {
    .intro_grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .1fr repeat(3, 3fr);
    }

    .blog_item.status {
        padding: 0;
    }

    .blog_item.picture.p3 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.title {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.status {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.problem {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.solution {
        grid-column-start: 1;
        grid-column-end: 1;
    }

}