:root {
    --c1-color: #C7CACC;
    --c3-color: #F1CB24;
    --c2-color: #202d31;
}

/*color options
light grey (126, 156, 172)
light green (176, 228, 81)
*/

* {
    padding: 0;
    margin: 0;
}

.site_body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--c2-color);
    width: 100vw;
    height: auto;
}

.site_body img {
    border-radius: 1%;
    width: 100%;
    box-shadow: 7px 7px var(--c3-color);
}

.site_body p {
    color: var(--c1-color);
    font-size: 140%;
}

.site_body h1 {
    font-style: oblique;
    color: var(--c1-color);
    font-size: 40px;
    padding-left: 10%;
    border-bottom: var(--c3-color) solid 10px;
}

.intro {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5%;
    padding: 3%;
    box-sizing: border-box;
    background-color: var(--c1-color);
}

.intro_text_container {
    padding-top: 5%;
}

.name {
    font-size: 600%;
    padding: 3%;
    color: var(--c2-color);
}

.intro_text {
    color: var(--c2-color);
    padding: 3%;
    border: var(--c3-color) solid 10px;
    border-radius: 1%;
    font-size: 140%;
}

.intro_picture_container {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header {
    font-style: oblique;
    font-size: 40px;
    padding-left: 10%;
    border-bottom: var(--c3-color) solid 10px;
    background-color: var(--c1-color);
    color: var(--c2-color);
}

.portfolio_container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5%;
    padding: 5%;
    box-sizing: border-box;
    background-image: url("../img/random/test_image_background.png");
    background-size: cover;
}

.portfolio_tile {
    color: transparent;
    padding: 2%;
    background-image: url("../img/test_image_square.jpg");
    background-size: cover;
    box-shadow: 7px 7px var(--c3-color);
}

.portfolio_tile div {
    background-color: transparent;
    border: transparent;
    width: 100%;
    padding: 4%;
    height: 100%;
    transition: .4s linear;
}

.portfolio_tile div:hover {
    color: var(--c2-color);
    background-color: var(--c3-color);
}

.portfolio_tile div:hover h4 {
    font-size: 220%;
    border-bottom: var(--c2-color) solid 5px;
    padding: 2% 2% 3% 2%;
} 

.portfolio_tile div:hover h3 {
    font-size: 80%;
    padding: 5% 2% 2% 2%;
}

.about {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 5fr;
    grid-gap: 5%;
    padding: 3%;
    box-sizing: border-box;
    text-indent: 50px;
}

.about_title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact_container {
    padding: 2% 0% 2% 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.contact_container h2 {
    max-width: 500px;
    color: var(--c1-color);
    margin: 0% 4% 0% 4%;
}


@media only screen and (max-width: 650px) {
    .intro {
        height: auto;
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .site_body p {
        font-size: 180%;
    }
    
    .intro_text {
        font-size: 180%;
    }

    .portfolio_container {
        grid-gap: 3%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .portfolio_tile {
        height: 20vh;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .about {
        height: auto;
        grid-gap: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .about_title {
        margin-top: 45%;
    }

    .contact_title {
        margin-top: 8%;
    }

    .contact_container {
        display: block;
    }

    .contact_container h2 {
        width: auto;
        text-align: center;
        padding: 1.5% 0% 1.5% 0%;
    }

}

