* {
    padding: 0;
    margin: 0;
}

.site_body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(221, 220, 219);
}

.site_body img {
    border-radius: 1%;
    width: 100%;
}

.site_body p {
    font-size: 120%;
}

.site_body h1 {
    font-style: oblique;
    font-size: 40px;
    padding-left: 10%;
    border-bottom: rgb(184, 211, 35) solid 10px;
}

.intro {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5%;
    padding: 3%;
    box-sizing: border-box;
}

.intro_text_container {
    padding-top: 5%;
}

.name {
    font-size: 600%;
    padding: 3%;
}

.intro_text {
    padding: 3%;
    border: rgb(184, 211, 35) solid 10px;
    border-radius: 1%;
}

.intro_picture_container {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr;
    grid-gap: 5%;
    padding: 2%;
    box-sizing: border-box;
}

.portfolio_tile {
    text-decoration: none;
    color: #000000;
    padding: 5%;
    font-size: 20px;
    background-image: url(img/test_image_square.jpg);
    background-size: cover;
    box-shadow: 5px 4px 8px #000000;
}

.portfolio_tile:hover {
    color:#ffffff;
    filter: blur(1px);
    transition: all .1s ease-in-out;
    font-size: 50px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.about {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 62px 5fr;
    grid-gap: 5%;
    padding-left: 2%;
    box-sizing: border-box;
}

.about_title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact {
    width: 100vw;
    height: 40vh;
    padding: 30px;
    box-sizing: border-box;

}

.contact_text {
    padding-top: 2%;
}

@media only screen and (max-width: 550px) {
    .intro {
        height: auto;
        grid-gap: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .portfolio_container {
        height: 1500px;
        grid-gap: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .header {
        grid-column-start: 1;
        grid-column-end: 1;
    }
    
    .about {
        height: auto;
        grid-gap: 5%;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}

