
.blog_post_body * {
    border: 1px solid #000000;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #009B77;
}

.intro_grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr;
    grid-template-rows: .3fr 1fr .5fr .5fr;
    box-sizing: border-box;
}

.blog_item.picture {
    background-size: cover;
    height: 100%;
}

.blog_item.picture.p3 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.blog_item.title {
    grid-column-start: 1;
    grid-column-end: 4;
}

.blog_item.status {
    grid-column-start: 4;
    grid-column-end: 5;
}

.blog_item.problem {
    grid-column-start: 1;
    grid-column-end: 5;
}

.blog_item.solution {
    grid-column-start: 1;
    grid-column-end: 5;
}

.one_picture_grid {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
}

.one_picture {
    max-width: 100%;
}

.two_picture_grid {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
}

.two_picture_text {
    grid-column-start: 1;
    grid-column-end: 3;
}

.two_picture {
    max-width: 100%;
}

@media only screen and (max-width: 550px) {
    .intro_grid {
        grid-template-columns: 1fr;
        grid-template-rows: .3fr .1fr repeat(3, 1fr) repeat(2, .7fr);
    }

    .blog_item.picture.p3 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.title {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.status {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.problem {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .blog_item.solution {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    
}